{% extends 'layout/base.html' %}

{% block content %}
  <div class="text-center" style="width: 80%; margin: 0 auto">
  <h1>Bienvenido a la página de reestablecemiento de contraseña.</h1>
  <h3><br><br>
    ¿Olvidaste tu contraseña?<br><br><br>  </h3> <h4>
    Ingresa RFC con el que estas registrado y te enviaremos un enlace a tu correo para reestablecer tu contraseña. <br><br><br>
  </h4>
</div>
<br/>

<form action="" method="POST" class="text-center">
  {% csrf_token %}
  {{form}}
  <input type="submit" value="Enviar correo" /><br>
</form><br/><br><br>
{% endblock %}

{% block body_script %}
  <script> $(document).ready(function() 
    
    { $('body > div > form > ul > li').css({color:"red", overflow:"auto"})
  
  }); </script>
{% endblock %}
