/*** color y personalizados */
			.color-base { color: #fff !important; }
			.color-obscuro { color: #000 !important; }
			.color-primario { color: #015F78 !important; }
			.color-secundario { color: #A4B54C !important; }
			.color-complemento { color: #D9EBEC !important; }
			.color-neutro { color: #F2F2F2 !important; }
			.color-suceso { color: #5dffff !important; }
			.color-peligro { color: #38A6F9 !important; }
			.color-alerta { color: #dc3545 !important; }
			.bgcolor-base { background: #fff !important; }
			.bgcolor-obscuro { background: #000 !important; }
			.bgcolor-primario { background: #015F78 !important; }
			.bgcolor-secundario { background: #A4B54C !important; }
			.bgcolor-complemento { background: #D9EBEC !important; }
			.bgcolor-neutro { background: #F2F2F2 !important; }
			.bgcolor-suceso { background: #5dffff !important; }
			.bgcolor-peligro { background: #38A6F9 !important; }
			.bgcolor-alerta { background: #dc3545 !important; }
			.bordecolor-base { border-color: #fff !important; }
			.bordecolor-obscuro { border-color: #000 !important; }
			.bordecolor-primario { border-color: #015F78 !important; }
			.bordecolor-secundario { border-color: #A4B54C !important; }
			.bordecolor-complemento { border-color: #D9EBEC !important; }
			.bordecolor-neutro { border-color: #F2F2F2 !important; }
			.bordecolor-suceso { border-color: #5dffff !important; }
			.bordecolor-peligro { border-color: #38A6F9 !important; }
			.bordecolor-alerta { border-color: #dc3545 !important; }

			.lds-spinner {
				color: #015F78 ;
				display: inline-block;
				position: relative;
				width: 80px;
				height: 80px;
			}
			.lds-spinner div {
				transform-origin: 40px 40px;
				animation: lds-spinner 1.2s linear infinite;
			}
			.lds-spinner div:after {
				content: " ";
				display: block;
				position: absolute;
				top: 3px;
				left: 37px;
				width: 6px;
				height: 18px;
				border-radius: 20%;
				background: #015F78 ;
			}
			/***  