
{% load static %}
{% load personalizacion_tags %}
{% block layout_style %}
    <style type="text/css">
        @page {
          @bottom-center{
            size: A0;
            content: '{{declaracion.cat_tipos_declaracion.tipo_declaracion}} {{declaracion.folio}}';
            margin-bottom: 40px;
          }
          @top-center{size: A0; content: element(header)}
        }

        header{
          position: fixed;
          top: 0;
          left: 0;
          height: 2.5cm;
          width: 100%;
        }

        footer {
          position: fixed;
          bottom: 0;
          height: 10mm;
          text-align: center;
          font-size: 10px;
          width: 100%;
        }

        .logo {
          background-color: #015F78;
        }
        .navbar-brand {
          width: 200px
        }
        .p_opciones dd, .p_opciones dt {
            display: inline !important;
        }
        .text-black_opciones {
            font-weight: 700;
            color: #000;
        }
        .text-privado{
          background-color: black;
        }
    </style>
{% endblock %}
{% block extra_style %}
  <link rel="stylesheet" href="{% static 'app.css' %}">
{% endblock %}

  
  <center> 
    <div style="height: 50px ;"></div>
    <img src="/media/{% personalizacion 'imagen_logo' %}" alt=""  style="width: 300px;margin-bottom: 1rem;"> 
    <h5> {{ institucion.nombre_institucion }} </h5>
    <hr>
  </center>
{% block content %}
<div class="page-container">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-md-9 py-4 printable margin-bottom:100px;">
        <div style="margin-right: 60px; margin-left: 60px; ">
        <br><br><br><br>
          <p>Estimado(a) <strong>{{ info_personal_fija.nombres|default_if_none:"" }} {{ info_personal_fija.apellido1|default_if_none:"" }} {{ info_personal_fija.apellido2|default_if_none:"" }}</strong>
            <br><br>
            <br><br>
          <p style="text-align:justify;">
            Hemos recibido tu {{declaracion.cat_tipos_declaracion.tipo_declaracion}} terminada exitosamente y esta ha sido registrada en el sistema con el folio <strong>{{declaracion.folio}}</strong> el día <strong> {{ declaracion.fecha_recepcion|date:"D d M Y"|default_if_none:""}}</strong>.
            <br><br>
            Esta <strong>Declaración de Situación Patrimonial</strong> y de Intereses es testimonio de haber cumplido en tiempo con su obligación. 
            <br><br>
            Su contenido puede estar sujeto a revisión y verificación por parte del Órgano Interno de Control.
            <br><br>
          </p>
          <br><br>
          <br><br>
          <br><br>
          <p style="text-align:center;">
          __________________________________<br>
              Sello y firma del OIC
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}