{% extends "layout/base.html" %}
{% load static %}
{% block header_title %}Participación en empresas{% endblock %}
{% load bootstrap4 %}
{% load flujo_declaracion %}
{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100">
        {% include 'layout/sidebar.html'%}
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb text-sm text-uppercase font-weight-extralight">
                    <li class="breadcrumb-item"><a href="#" class="text-reset">Declaración en curso</a></li>
                    <li class="breadcrumb-item"><a href="#" class="text-reset">Interes</a></li>
                    <li class="breadcrumb-item active" aria-current="page">PARTICIPACION EN EMPRESAS, SOCIEDADES O ASOCIACIONES(HASTA LOS ULTIMOS 2 AÑOS)</li>
                </ol>
            </nav>
            <h1 class="text-uppercase text-black h5">Declaración de intereses y patrimonial <span class="text-primary">{% tipo_declaracion %}</span></h1>
            <h2 class="h6 text-uppercase mb-3">2. Intereses <span class="text-black mx-1">|</span> <span class="text-primary font-weight-light">I. PARTICIPACION EN EMPRESAS, SOCIEDADES O ASOCIACIONES(HASTA LOS ULTIMOS 2 AÑOS)</span></h2>
            <p class="leyenda_privados" style="width: 800px;">Todos los datos de la participación en empresas, sociedades o asociaciones de la pareja, dependientes económicos no serán públicos</p>

            {% if messages %}
                {% for message in messages %}
                      <div class="alert alert-danger alert-dismissable alert-link">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                           <strong>{{ message }}</strong>
                      </div>
              {% endfor %}
            {% endif %}
            
            {% if agregar %}
              <form action="{% url 'declaracion:socios-comerciales-agregar' folio_declaracion %}" method="post" novalidate>
            {% elif editar_id %}
              <form action="{% url 'declaracion:socios-comerciales-editar' folio_declaracion editar_id %}" method="post" novalidate>
            {% else %}
              <form action="{% url 'declaracion:socios-comerciales' folio_declaracion %}" method="post" novalidate>
            {% endif %}
                {% csrf_token %}
                    <div class="row">
                      {% include 'layout/no_aplica.html' %}
                    </div>
                {% include 'layout/informacion-registrada.html' with registros=informacion_registrada titulo_uno="Nombre de la actividad comercial vinculante" titulo_dos="Tipo de vínculo" titulo_tres="Sector / industria" agregar=agregar editar_id=editar_id %}
                <div class="row row-form" style="{% if checked %}display: none;{% endif %}">
                    <div class="col-12 my-2">
                        <label class="label-secondary">TIPO DE OPERACIÓN{% if 'cat_tipos_operaciones' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar TIPO DE OPERACIÓN realizada a la participación en empresas.">
                            <img src="{% static 'src/img/info.svg' %}" alt="info" class="svg">
                        </button> 
                        {% include 'layout/radiobuttons.html' with field_select=socios_comerciales_form.fields.cat_tipos_operaciones field_name=socios_comerciales_form.cat_tipos_operaciones otro_name=socios_comerciales_form.otro_tipo_operacion col=2 col_o=4 tipo='cat_tipos_operaciones' campos_privados=campos_privados %}
                    </div>
                    <div class="col-md-12">
                        <div class="form-group {% if 'tipoRelacion' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary mb-2">TIPO DE RELACIÓN{% if 'tipoRelacion' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Señalar quien tiene participación en la empresa sociedad o asociación.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% include 'layout/radiobuttons.html' with field_select=socios_comerciales_form.fields.tipoRelacion field_name=socios_comerciales_form.tipoRelacion otro_name=socios_comerciales_form.otro_tipo_operacion col=2 col_o=4 tipo='tipoRelacion' campos_privados=campos_privados %}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group {% if 'actividad_vinculante' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary mb-2">NOMBRE DE LA EMPRESA, SOCIEDAD O ASOCIACION{% if 'actividad_vinculante' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Señalar el nombre o razón social completo de la empresa, sociedad o asociación, tal y como aparece en el documento legal en el que participe">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field socios_comerciales_form.actividad_vinculante  show_label=False%}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group {% if 'rfc_entidad_vinculante' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary mb-2">RFC{% if 'rfc_entidad_vinculante' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}<small class="text-help text-primary">(Si aplica)</small></label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Los 10 caracteres básicos y los 3 caracteres de la homoclave.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field socios_comerciales_form.rfc_entidad_vinculante  field_class='valida_rfc'  show_label=False placeholder="RFC de la empresa" %}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group {% if 'porcentaje_participacion' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary mb-2">PORCENTAJE DE PARTICIPACION{% if 'porcentaje_participacion' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar el porcentaje de participación en la empresa , sociedad o asociación.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field socios_comerciales_form.porcentaje_participacion  show_label=False%}
                        </div>
                    </div>
                     <div class="col-md-4">
                        <label class="label-secondary">¿RECIBE REMUNERACIÓN POR SU PARTICIPACION?{% if 'recibeRemuneracion' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Marcar si recibe o no.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        <div class="row">
                            <div class="col-auto">
                                <div class="custom-control custom-radio custom-control-inline radio-secondary">
                                    <input type="radio" id="ingresos-si" name="socios_comerciales-recibeRemuneracion" value="True" class="custom-control-input" {% if not socios_comerciales_form.recibeRemuneracion.initial %}checked{% endif %}  {% if socios_comerciales_form.recibeRemuneracion.initial == True %}checked es_inicial="true"{% endif %} onclick="accion_hide_disabled_show(this);">
                                    <label class="custom-control-label text-rg" for="ingresos-si">Si</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-radio custom-control-inline radio-secondary">
                                    <input type="radio" id="ingresos-no" name="socios_comerciales-recibeRemuneracion" value="False" class="custom-control-input" {% if socios_comerciales_form.recibeRemuneracion.initial == False %}checked{% endif %} onclick="accion_hide_disabled_show(this);">
                                    <label class="custom-control-label text-rg" for="ingresos-no">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="form-group {% if 'montoMensual' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary mb-2">MONTO MENSUAL {% if 'montoMensual' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Especificar el monto mensual neto, sin centavos, que percibe por su particpación">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field socios_comerciales_form.montoMensual label_class="label-secondary" show_label=False placeholder="Monto"%}
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="form-group {% if 'moneda' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary mb-2">MONEDA{% if 'moneda' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Moneda con la cual se recibe la remuneración.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field socios_comerciales_form.moneda label_class="label-secondary" show_label=False placeholder="Moneda"%}
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <label class="label-secondary">TIPO DE PARTICIPACIÓN{% if 'tipoParticipacion' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Seleccionar de la lista una de las siguientes opciones">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% include 'layout/radiobuttons.html' with field_select=socios_comerciales_form.fields.tipoParticipacion  field_name=socios_comerciales_form.tipoParticipacion otro_name=socios_comerciales_form.otraParticipacion col=2 col_o=4 tipo='tipoParticipacion' campos_privados=campos_privados %}
                    </div>
                    <div class="col-md-12"><br></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-secondary mb-2">LUGAR DONDE SE UBICA{% if 'cat_pais' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Lugar de nacimiento del socio.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {%include  'layout/nacionalidad.html' with field=socio_infopersonalvar_form.cat_pais show_label=False%}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group {% if 'cat_entidades_federativas' in campos_privados %}form-group-private{% endif %}">
                            <label for="entidad" class="label-secondary mb-2">ENTIDAD FEDERATIVA{% if 'cat_entidades_federativas' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Entidad donde nació el Declarante.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field socio_infopersonalvar_form.cat_entidades_federativas field_class='entidad'  show_label=False%}
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="label-secondary mb-2">SECTOR PRODUCTIVO AL QUE PERTENECE{% if 'cat_sectores_industria' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Elegir el sector al que pertenece la empresa, sociedad o asociación. En caso de señalar otro.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% include 'layout/radiobuttons.html' with field_select=socio_infopersonalvar_form.fields.cat_sectores_industria  field_name=socio_infopersonalvar_form.cat_sectores_industria otro_name=socio_infopersonalvar_form.otro_sector col=4 col_o=4 tipo='cat_sectores_industria' campos_privados=campos_privados %}
                    </div>
                    <div class="col-12">
                        <div id="ms_campos_obligatorios"></div>
                        <div class="text-right" style="{% if checked %}display: none;{% endif %}">
                            <button type="submit" name="accion" value="guardar_otro" class="btn btn-link btn-link-plus text-primary font-weight-semibold text-uppercase" style="background: #cce3e4;margin-bottom: 0.5rem"> 
                            <img src="{% static 'src/img/plus.svg'%}" alt="agregar" class="svg">Agregar otro participación
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row row-form">
                    <div class="col-12">
                        <div class="form-group {% if 'observaciones' in campos_privados %}form-group-private{% endif %}">
                            <label for="observaciones" class="label-secondary">ACLARACIONES/OBSERVACIONES{% if 'observacion' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="En este espacio el declarante podrá realizar las aclaraciones u observaciones que considere pertinentes respecto de algun o algunos de,los incisos de este apartado.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field observaciones_form.observacion show_label=False placeholder="ACLARACIONES/OBSERVACIONES" %}
                        </div>
                    </div>
                </div>
                {% include 'layout/guardar.html' %}
                <div class="row"><div class="col-12"><br/></div></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block body_script %}
<script>
    $(function(){
        $("form input[type=submit]").click(function() {
            $("input[type=submit]", $(this).parents("form")).removeAttr("clicked");
            $("button", $(this).parents("form")).removeAttr("clicked");
            $(this).attr("clicked", "true");
        });
        $("form button").click(function() {
            $("input[type=submit]", $(this).parents("form")).removeAttr("clicked");
            $("button", $(this).parents("form")).removeAttr("clicked");
            $(this).attr("clicked", "true");
        });
        $("form").submit(function(e){
			if($("#no_aplica").prop("checked") != true){
				e.preventDefault();
				e.stopPropagation();

				if($(this).attr("id") !== "form_registros_previos"){
				let faltantes = check_camposobligatorios();
				var submitValue = $("[clicked=true]").val();
				$(".guardarDeclaracion").prop('disabled', true);
                f_cargando('ms_campos_obligatorios');

				if(faltantes > 0 ){
					setTimeout(function(){
                        $(".guardarDeclaracion").prop('disabled', false);
                        $('#ms_campos_obligatorios').empty();
                        $('#ms_campos_obligatorios').prepend('<div class="alert alert-danger alert-dismissable alert-link">'+
                            '<button type="button" class="close" data-dismiss="alert">&times;</button>'+
                                '<strong>Favor de llenar todos los campos obligatorios marcados con asterisco * para continuar</strong></div>')
                      }, 500);
				} else {
					var myin = document.createElement ("input");
					myin.setAttribute ("name","accion");
					myin.setAttribute ("style","display:none;");
					myin.setAttribute ("value", submitValue);
					this.appendChild(myin);
					this.submit();
				} 
				}
				else{
				$(this).find('button').each(function(e,i){$(this).attr('disabled','disabled');})
				mostrar_spinner_registros_previos();
				registros_previos_guardar();
				this.submit();
				}
			}
        });
    });

    function check_camposobligatorios(){
        var camposOb = [
            {% for campo in campos_obligatorios %}
            "{{campo}}"{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];
        console.log("Verificando " + camposOb.length + " campos obligatorios");
        var obligatoriosSinVerificar = "";
        var faltantes = 0;
        for (let index = 0; index < camposOb.length; index++) {
            const element =  camposOb[index];
            var domElements = $("[id*='socios_comerciales-"+element+"']");
            for (let i = 0; i < domElements.length; i++) {
                if(domElements[i].value == ""){
                    obligatoriosSinVerificar  += element + ", ";
                    faltantes += 1;
                }
            }
        }
        obligatoriosSinVerificar += + " " + faltantes + " faltan de llenar";
        console.log(obligatoriosSinVerificar);
        return faltantes;
    }
</script>
{% endblock %}