{% load bootstrap4 %}
{% load static %}
{% block content %}
<table 
    class="table table-striped tableBienesPersonas"
    style="border: solid #e2dddd 0.5px;"
    id="{{ html_name }}-{{declaracion}}-{{idBien|default_if_none:'0'}}-tableBienesPersonas" 
>
    <thead style="display: table;width: 100%;table-layout: fixed;">
        <tr>
            <th scope="col" style="width: 60%;">Nombre(s) / Razón social</th>
            <th scope="col" style="width: 20%;">RFC</th>
            <th scope="col" style="width: 20%;" colspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody style="display: block;max-height: 200px;height: auto;overflow: auto;width: 100%;table-layout: fixed;">
        {% if data %}
            {% for persona in data %}
                <tr 
                    title="Persona: {{persona.otra_persona.es_fisica|yesno:'Fisica,Moral'}} {% if persona.tipo_relacion.pk%} >> Relación: {% endif %} {{persona.tipo_relacion.tipo_relacion|default_if_none:''}} "
                    style="font-weight: normal;display: table;width: 100%;table-layout: fixed;"
                >
                    <td style="width: 60%;">{{persona.otra_persona.nombre_completo}}</td>
                    <td style="width: 20%;">{{persona.otra_persona.rfc}}</td>
                    <td style="width: 10%;">
                        <button 
                            id="{{ html_name }}-{{persona.cat_tipo_participacion.pk}}-{{persona.activos_bienes.pk}}-{{persona.otra_persona.pk}}-{{persona.pk|default_if_none:0}}-editar"
                            class="btn btn-link btn-link-plus" 
                            type="button" 
                            name="editarPersonaBtn"
                            es_fisica="{{persona.otra_persona.es_fisica}}"
                            nombres="{{persona.otra_persona.nombres}}"
                            apellido1="{{persona.otra_persona.apellido1}}"
                            apellido2="{{persona.otra_persona.apellido2}}"
                            razon_social="{{persona.otra_persona.razon_social}}"
                            tipo_relacion="{{persona.tipo_relacion.pk}}"
                            rfc="{{persona.otra_persona.rfc}}"
                            title="{{title}}"
                            label="{{label}}"
                            bienPersona_id="{{persona.pk|default_if_none:0}}"
                            bienMueble_id ="{{persona.activos_bienes.id_activobien}}"
                            declaracion="{{declaracion}}"
                            onclick="obtenerDatoSeleccionadoBienPersona(this)"
                        >
                            <div name="divPersonaEditar">
                                <img src="{% static 'src/img/editar.svg'%}" class="svg">
                            </div>
                        </button>
                    </td>
                    <td style="width: 10%;" class="text-center">
                        <button 
                            id="{{ html_name }}-{{persona.cat_tipo_participacion.pk}}-{{persona.activos_bienes.pk}}-{{persona.otra_persona.pk}}-{{persona.pk|default_if_none:0}}-eliminar"
                            class="btn btn-link btn-link-plus" 
                            type="button" 
                            name="eliminarPersonaBtn"
                            title="{{title}}"
                            label="{{label}}"
                            bienMueble_id ="{{persona.activos_bienes.id_activobien}}"
                            declaracion="{{persona.otra_persona.declaraciones.pk}}"
                            data-toggle="modal" 
                            data-target="#eliminarPersona" 
                            data-id="{{ html_name }}-{{persona.cat_tipo_participacion.pk}}-{{persona.activos_bienes.pk}}-{{persona.otra_persona.pk}}-{{persona.pk|default_if_none:0}}-eliminarPersonaBtn"
                        >
                            <div name="divPersonaEliminar">
                                <img src="{% static 'src/img/eliminar.svg'%}" class="svg">
                            </div>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr id="sinDatos_row" style="font-weight: normal;display: table;width: 100%;table-layout: fixed;">
                <td colspan="3">
                   <center> Sin datos que mostrar </center>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}