{% extends 'layout/base.html' %}
{% load static %}
{% block header_title %}Información de la declaración {% endblock %}
{% load bootstrap4 %}
{% load flujo_declaracion %}

{% block content %}
<section class="container">
  <div class="row row-md mt-4 ">
    <div class="col-2 ">
      {% if tipo == 'declaracion'%}
        <a href="{% url 'declaracion:busqueda-declaraciones' %}" class="btn btn-success text-uppercase font-weight-semibold mx-3"><img src="{% static 'src/img/regresar.png' %}"> Regresar</a>
      {% else %}
        <a href="{% url 'declaracion:busqueda-declarantes' %}" class="btn btn-success text-uppercase font-weight-semibold mx-3"><img src="{% static 'src/img/regresar.png' %}"> Regresar</a>
      {% endif %}
    </div>
    <div class="col-6">
        <h3 class="text-primary-light font-weight-semibold hyphen-auto">{{  declaracion.info_personal_fija.nombres|default_if_none:""  }} {{ declaracion.info_personal_fija.apellido1|default_if_none:"" }} {{  declaracion.info_personal_fija.apellido2|default_if_none:""  }}</h3>
    </div>
    <div class="col-12">
      {% if archivo %}
        <div class="print-button text-right">
          <a href="{{archivo}}" target="_blank">
            <img src="{% static 'src/img/impresora.svg' %}" alt="Imprimir" class="svg imprimir-pagina">
          </a>
        </div>
      {% endif %}
      <br>
      <div class="card float-right" style="width: 40%;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{declaracion.folio}}</li>
          <li class="list-group-item">{{declaracion.cat_tipos_declaracion.codigo}} - {{declaracion.avance}}% - {{declaracion.datos_publicos|yesno:"Datos públicos, Datos no públicos"}}</li>
          <li class="list-group-item">Fecha inicio: {{declaracion.fecha_declaracion|date:"D d M Y"|default_if_none:"" }}</li>
          {% if  declaracion.fecha_recepcion %}
            <li class="list-group-item" style="background: {% if declaracion.extemporanea %} #f1a2a2; {% else %} #c2d4d9; {% endif %}" >
              Fecha recepción: {{ declaracion.fecha_recepcion|date:"D d M Y"|default_if_none:"" }}
              {% if declaracion.extemporanea %}
                <span 
                  class="float-right" 
                  style="font-size: 10px;position: absolute;bottom: 0;right: 5px;font-weight: bold;color:#a52626;"
                >
                  EXTEMPORANEA
                </span>
              {% endif %}
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <br>
    <div class="col-12">
      <div class="col-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="infopersonal-tab" data-toggle="tab" href="#infopersonal" role="tab"
                  aria-controls="infopersonal" aria-selected="true">1.- Declaración Patrimonial</a>
            </li>
            {% if not declaracion_simplificada %}
              <li class="nav-item">
                  <a class="nav-link" id="intereses-tab" data-toggle="tab" href="#intereses" role="tab" aria-controls="profile"
                    aria-selected="false">2.- Declaración de Intereses</a>
              </li>
            {% endif %}

            {% if not declaracion_simplificada %}
              <li class="nav-item">
                  <a class="nav-link" id="fiscal-tab" data-toggle="tab" href="#fiscal" role="tab"
                    aria-controls="fiscal" aria-selected="false">3.- Declaración Fiscal </a>
              </li>
            {% endif %}
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="infopersonal" role="tabpanel" aria-labelledby="infopersonal-tab">
              {% include 'declaracion/admin/frm_informacion_personal.html' %}
            </div>

            {% if not declaracion_simplificada %}
              <div class="tab-pane fade" id="intereses" role="tabpanel" aria-labelledby="intereses-tab">
                  {% include 'declaracion/admin/frm_intereses.html' %}
              </div>
            {% endif %}

            {% if not declaracion_simplificada %}
              <div class="tab-pane fade" id="fiscal" role="tabpanel" aria-labelledby="fiscal-tab">
                  {% include 'declaracion/admin/frm_fiscal.html' %}
              </div>
            {% endif %}
        </div>
        <div class="col-md-9">
          
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
