{% extends "layout/base.html" %}
{% load static %}
{% block header_title %}Inversiones{% endblock %}
{% load bootstrap4 %}
{% load flujo_declaracion %}
{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100">
        {% include 'layout/sidebar.html'%}
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb text-sm text-uppercase font-weight-extralight">
                    <li class="breadcrumb-item"><a href="#" class="text-reset">Declaración en curso</a></li>
                    <li class="breadcrumb-item"><a href="#" class="text-reset">Activos</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Inversiones, cuentas, valores</li>
                </ol>
            </nav>
            <h1 class="text-uppercase text-black h5">Declaración de intereses y patrimonial <span class="text-primary">{% tipo_declaracion %}</span></h1>
            <h2 class="h6 text-uppercase mb-3">I. Declaración patrimonial <span class="text-black mx-1">|</span> <span class="text-primary font-weight-light">XIII.  INVERSIONES, CUENTAS BANCARIAS Y OTRO TIPO DE VALORES / ACTIVOS {% if declaracion2.cat_tipos_declaracion.pk == 2 %}(ENTRE EL 1 DE ENERO Y EL 31 DE DICIEMBRE DEL AÑO INMEDIATO ANTERIOR){% else %}(SITUACION ACTUAL){% endif %}</span></h2>
            <p class="leyenda_privados" style="width: 800px;">Todos los datos de las inversiones, cuentas bancarias y otro tipo de valores/activos a nombre de la pareja, dependientes económicos y/o terceros o que sean en copropiedad con el declarante no serán públicos</p>


            {% if messages %}
                {% for message in messages %}
                      <div class="alert alert-danger alert-dismissable alert-link">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                           <strong>{{ message }}</strong>
                      </div>
              {% endfor %}
            {% endif %}
            
            {% if agregar %}
              <form action="{% url 'declaracion:inversiones-agregar' folio_declaracion %}" method="post" novalidate id="formInversiones" data-tiposInversiones-url="{% url 'declaracion:lista_tiposinversionesespecificas' %}" >
            {% elif editar_id %}
              <form action="{% url 'declaracion:inversiones-editar' folio_declaracion editar_id %}" method="post" novalidate id="formInversiones" data-tiposInversiones-url="{% url 'declaracion:lista_tiposinversionesespecificas' %}" >
            {% else %}
              <form action="{% url 'declaracion:inversiones' folio_declaracion %}" method="post" novalidate id="formInversiones" data-tiposInversiones-url="{% url 'declaracion:lista_tiposinversionesespecificas' %}" >
            {% endif %}
                {% csrf_token %}
                <div class="row">
                  {% include 'layout/no_aplica.html' %}
                </div>
                {% include 'layout/informacion-registrada.html' with registros=informacion_registrada titulo_uno="Tipo de operación" titulo_dos="Tipo de inversión" titulo_tres="Titular" agregar=agregar editar_id=editar_id %}
                <div class="row row-form" style="{% if checked %}display: none;{% endif %}">
                    <div class="col-12">
                        <label class="label-secondary mb-2">TIPO DE OPERACIÓN{% if 'cat_tipos_operaciones' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar TIPO DE OPERACIÓN de la inversión, cuenta, valor.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% include 'layout/radiobuttons.html' with field_select=form.fields.cat_tipos_operaciones  field_name=form.cat_tipos_operaciones otro_name=form.otra_operacion  col=2 col_o=6 tipo='cat_tipos_operaciones' campos_privados=campos_privados %}
                    </div>
                    <div class="col-6">
                        <label class="label-secondary mb-2">TIPO DE INVERSIÓN/ACTIVO{% if 'cat_tipos_inversiones' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar tipo de inversión de la inversión, cuenta, valor. Al seleccionar un valor el campo sub-tipo de inversión se filtrará">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% bootstrap_field form.cat_tipos_inversiones  show_label=False%}
                    </div>

                    <div class="col-6">
                        <label class="label-secondary mb-2">SUB-TIPO DE INVERSIÓN{% if 'cat_tipos_especificos_inversiones' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar sub tipo de inversión de la cuenta, valor Este campos será precargado al tipo de inversi+on seleccionado.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% bootstrap_field form.cat_tipos_especificos_inversiones  show_label=False%}
                    </div>

                    <div class="col-md-12">
                        <label class="label-secondary mb-2">TITULAR DE LA INVERSION, CUENTA BANCARIA Y OTRO TIPO DE VALORES{% if 'cat_tipos_titulares' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indique el tipo de titular de la inversión.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% include 'layout/radiobuttons.html' with field_select=form.fields.cat_tipos_titulares  field_name=form.cat_tipos_titulares otro_name=form.otro_tipo_titular tipo='cat_tipos_titulares' campos_privados=campos_privados %}
                    </div>
                    <div class="col-12 my-2">
                        {% include 'layout/persona_simp.html' with form=info_personal_var_form label=" inversión" title="TERCERO" tipo=False %}
                    </div>
                    <div class="col-md-4">
                        <div class="form-group {% if 'rfc' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary mb-2">RFC TERCERO{% if 'rfc' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Los 10 caracteres básicos y los 3 caracteres de la homoclave.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            <small class="text-help text-primary">(Si aplica)</small>
                            {% bootstrap_field info_personal_var_form.rfc  field_class='valida_rfc'  show_label=False%}
                        </div>
                    </div>                    
                    <div class="col-12">
                        <div class="form-group {% if 'num_cuenta' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary mb-2">NÚMERO DE CUENTA, CONTRATO O POLIZA{% if 'num_cuenta' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Señalar el número de cuenta, contrato, póliza o cualquier dato que permita su identificación.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field form.num_cuenta  show_label=False placeholder="Número de cuenta" %}
                        </div>
                    </div>

                    <div class="col-md-8">
                        <label class="label-secondary ">¿DONDE SE LOCALIZA LA INVERSIÓN, CUENTA BANCARIA Y OTRO TIPO DE VALORES/ACTIVOS?{% if 'cat_paises' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Seleccionar el tipo de territorio.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% include 'layout/nacionalidad.html' with field=form.cat_paises %}
                    </div>
                    <div class="col-md-12"><br></div>

                    <div class="col-md-8">
                        <div class="form-group {% if 'institucion' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary mb-2 ">INSTITUCION O RAZÓN SOCIAL{% if 'institucion' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Institución o razón social.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field form.institucion show_label=False%}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group ">
                            <label class="label-secondary mb-2 ">RFC{% if 'rfc_institucion' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="RFC de la institución o razón social.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            <small class="text-help text-primary">(Si aplica)</small>
                            {% bootstrap_field form.rfc field_class='valida_rfc'  show_label=False%}
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group {% if 'saldo_actual' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary mb-2 ">SALDO {% if declaracion2.cat_tipos_declaracion.pk == 2 %}AL 31 DE DICIEMBRE DEL AÑO INMEDIATO ANTERIOR{% else %}DE LA FECHA (SITUACION ACTUAL){% endif %}{% if 'saldo_actual' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Es necesario capturar cantidades sin comos, sin puntos, sin centavos y sin ceros a la izquierda.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field form.saldo_actual show_label=False%}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group {% if 'cat_monedas' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary mb-2 ">TIPO DE MONEDA{% if 'cat_monedas' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Deverá seleccionar la moneda reativa a la cuenta.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field form.cat_monedas field_class="moneda" show_label=False%}
                        </div>
                    </div>
                </div>
                <div id="ms_campos_obligatorios"></div>
                <div class="text-right row-form" style="{% if checked %}display: none;{% endif %}">
                    <button type="submit" name="accion" value="guardar_otro" class="btn btn-link btn-link-plus text-primary font-weight-semibold text-uppercase" style="background: #cce3e4;margin-bottom: 0.5rem">
                    <img src="{% static 'src/img/plus.svg'%}" alt="agregar" class="svg"> Agregar otra inversión
                    </button>
                </div>
                <div class="row row-form">
                    <div class="col-12">
                        <div class="form-group {% if 'observaciones' in campos_privados %}form-group-private{% endif %}">
                            <label for="observaciones" class="label-secondary ">ACLARACIONES/OBSERVACIONES{% if 'observacion' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Detallar información respecto al bien mueble.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field  observaciones_form.observacion show_label=False%}
                        </div>
                    </div>
                </div>
                {% include 'layout/guardar.html' %}
                <div class="row"><div class="col-12"><br/></div></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}



{% block body_script %}
<script>
    $(function(){
        $("form input[type=submit]").click(function() {
            $("input[type=submit]", $(this).parents("form")).removeAttr("clicked");
            $("button", $(this).parents("form")).removeAttr("clicked");
            $(this).attr("clicked", "true");
        });
        $("form button").click(function() {
            $("input[type=submit]", $(this).parents("form")).removeAttr("clicked");
            $("button", $(this).parents("form")).removeAttr("clicked");
            $(this).attr("clicked", "true");
        });
        $("form").submit(function(e){
            if($("#no_aplica").prop("checked") != true){
                e.preventDefault();
                e.stopPropagation();
                if($(this).attr("id") !== "form_registros_previos"){
                  let faltantes = check_camposobligatorios();
                  var submitValue = $("[clicked=true]").val();
                   $(".guardarDeclaracion").prop('disabled', true);
                   f_cargando('ms_campos_obligatorios');

                  if(faltantes > 0 ){
                    setTimeout(function(){
                      $(".guardarDeclaracion").prop('disabled', false);
                      $('#ms_campos_obligatorios').empty();
                      $('#ms_campos_obligatorios').prepend('<div class="alert alert-danger alert-dismissable alert-link">'+
                            '<button type="button" class="close" data-dismiss="alert">&times;</button>'+
                                '<strong>Favor de llenar todos los campos obligatorios marcados con asterisco * para continuar</strong></div>')
                    }, 500);
                  } else {
                      var myin = document.createElement ("input");
                      myin.setAttribute ("name","accion");
                      myin.setAttribute ("style","display:none;");
                      myin.setAttribute ("value", submitValue);
                      this.appendChild(myin);
                      this.submit();
                  } 
                }
                else{
                  $(this).find('button').each(function(e,i){$(this).attr('disabled','disabled');})
                  mostrar_spinner_registros_previos();
                  registros_previos_guardar();
                  this.submit();
                }
            } 
        });
    });

    function check_camposobligatorios(){
        var camposOb = [
            {% for campo in campos_obligatorios %}
            "{{campo}}"{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];
        console.log("Verificando " + camposOb.length + " campos obligatorios");
        var obligatoriosSinVerificar = "";
        var faltantes = 0;
        for (let index = 0; index < camposOb.length; index++) {
            const element =  camposOb[index];
            var domElements = $("[id*='id_inversiones-"+element+"']");
            for (let i = 0; i < domElements.length; i++) {
                if(domElements[i].value == ""){
                    obligatoriosSinVerificar  += element + ", ";
                    faltantes += 1;
                }
            }
        }
        obligatoriosSinVerificar += + " " + faltantes + " faltan de llenar";
        console.log(obligatoriosSinVerificar);
        return faltantes;
    }
</script>
{% endblock %}