{% extends "layout/base.html" %}
{% load static %}
{% block header_title %}Vehiculos{% endblock %}
{% load bootstrap4 %}
{% load flujo_declaracion %}
{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100">
        {% include 'layout/sidebar.html'%}
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb text-sm text-uppercase font-weight-extralight">
                    <li class="breadcrumb-item"><a href="#" class="text-reset">Declaración en curso</a></li>
                    <li class="breadcrumb-item"><a href="#" class="text-reset">Activos</a></li>
                    <li class="breadcrumb-item active" aria-current="page">VEHÍCULOS</li>
                </ol>
            </nav>
            <h1 class="text-uppercase text-black h5">Declaración de intereses y patrimonial <span class="text-primary">{% tipo_declaracion %}</span></h1>
            <h2 class="h6 text-uppercase mb-3">1.DECLARACION PATRIMONIAL  <span class="text-black mx-1">|</span> <span class="text-primary font-weight-light">XI. VEHÍCULOS DEL DECLARANTE, PAREJA Y/O DEPENDIENTES ECONÓMICOS </span></h2>
            <p class="leyenda_privados" style="width: 800px;">Todos los datos de vehículos declarados a nombre de la pareja, dependientes económicos y/o terceros o que sean en copropiedad con el declarante no serán públicos</p>


            {% if messages %}
                {% for message in messages %}
                      <div class="alert alert-danger alert-dismissable alert-link">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                           <strong>{{ message }}</strong>
                      </div>
              {% endfor %}
            {% endif %}
            
            {% if agregar %}
              <form  action="{% url 'declaracion:muebles-noregistrables-agregar' folio_declaracion %}" method="post" novalidate>
            {% elif editar_id %}
              <form  action="{% url 'declaracion:muebles-noregistrables-editar' folio_declaracion editar_id %}" method="post" novalidate>
            {% else %}
              <form  action="{% url 'declaracion:muebles-noregistrables' folio_declaracion %}" method="post" novalidate>
            {% endif %}
            {% csrf_token %}
                {% if aplica %}
                    <div class="row">
                      {% include 'layout/no_aplica.html' %}
                    </div>
                {% endif %}
            {% include 'layout/informacion-registrada.html' with registros=informacion_registrada titulo_uno="TIPO DE OPERACIÓN" titulo_dos="Forma de adquisición" titulo_tres="Titular" agregar=agregar editar_id=editar_id %}
            <div class="row row-form" style="{% if checked %}display: none;{% endif %}">
                <div class="col-md-12 mb-3">
                    <label  class="label-secondary">TIPO DE OPERACIÓN {% if 'cat_tipos_operaciones' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                    <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar TIPO DE OPERACIÓN del bien mueble.">
                        <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                    </button>
                    {% include 'layout/radiobuttons.html' with field_select=muebles_no_registrables_form.fields.cat_tipos_operaciones  field_name=muebles_no_registrables_form.cat_tipos_operaciones otro_name=muebles_no_registrables_form.otra_operacion  col=2 col_o=6 tipo='cat_tipos_operaciones' campos_privados=campos_privados %}
                </div>

                <div class="col-md-12" >
                    <label  class="label-secondary" >TIPO DE VEHICULO {% if 'cat_tipos_muebles' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                    <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Tipo del bien vehiculo que se declara.">
                        <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                    </button>
                    {% include 'layout/radiobuttons.html' with field_select=muebles_no_registrables_form.fields.cat_tipos_muebles  field_name=muebles_no_registrables_form.cat_tipos_muebles otro_name=muebles_no_registrables_form.otro_bien_mueble  col=2 col_o=4 tipo='cat_tipos_muebles' campos_privados=campos_privados %}
                </div>

                <div class="col-md-12" >
                    <label  class="label-secondary">TITULAR DEL VEHICULO{% if 'cat_tipos_titulares' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                    <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Titular de los otros bienes muebles declarados.">
                        <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                    </button>
                    {% include 'layout/radiobuttons.html' with field_select=muebles_no_registrables_form.fields.cat_tipos_titulares  field_name=muebles_no_registrables_form.cat_tipos_titulares otro_name=muebles_no_registrables_form.otro_titular tipo='cat_tipos_titulares' campos_privados=campos_privados %}
                </div>
                <div class="col-md-12" style="border: solid #d8d3d3 0.5px;padding: 1rem;margin:1rem 0 1rem 0;">
                    {% include 'layout/persona_multiple.html' with form=propietario_anterior_form data=propietario_anterior_bienes_personas tipoParticipacion="PROPIETARIO_ANTERIOR"  formBienPersona=bienes_personas_form title="TRANSMISOR" bienId=bien_id label=" del transmisor" tipoRelacion=True %}
                </div>

                <div class="col-md-4" >
                    <div class="form-group {% if 'marca' in campos_privados %}form-group-private{% endif %}">
                        <label  class="label-secondary">MARCA{% if 'marca' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Señalar la marca del vehiculo">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        <div class="form-row">
                            <div class="col-12 form-group">
                                {% bootstrap_field muebles_no_registrables_form.marca  show_label=False%}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" >
                    <div class="form-group {% if 'modelo' in campos_privados %}form-group-private{% endif %}">
                        <label  class="label-secondary">MODELO{% if 'modelo' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Señalar el modelo del vehículo de acuerdo a la marca(Ejemplo marca Volkswagen modelo Jetta">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% bootstrap_field muebles_no_registrables_form.modelo  show_label=False%}
                    </div>
                </div>

                <div class="col-md-4" >
                    <div class="form-group {% if 'anio' in campos_privados %}form-group-private{% endif %}">
                        <label  class="label-secondary">AÑO{% if 'anio' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar el año del vehiculo">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% bootstrap_field muebles_no_registrables_form.anio show_label=False placeholder='Año' %}
                    </div>
                </div>

                <div class="col-md-4" >
                    <div class="form-group {% if 'num_serie' in campos_privados %}form-group-private{% endif %}">
                        <label  class="label-secondary">NÚMERO DE SERIE/REGISTRO{% if 'num_serie' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Proporcionar el número de serie o registro que aparece en la factura y/o en su caso, tarjeta de circulación">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% bootstrap_field muebles_no_registrables_form.num_serie show_label=False%}
                    </div>
                </div>
                
                <div class="col-md-4">
                  <div class="form-group {% if 'cat_pais' in campos_privados %}form-group-private{% endif %}">
                    <label for="ente-publico" class="label-secondary">¿DONDE SE ENCUENTRA REGISTRADO?{% if 'cat_pais' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                    <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="País de ubicación de la Institución educativa.">
                      <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                    </button>
                    {%include  'layout/nacionalidad.html' with field=domicilio_form.cat_pais show_label=False%}
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group {% if 'cat_entidades_federativas' in campos_privados %}form-group-private{% endif %}">
                    <label for="ente-publico" class="label-secondary">ENTIDAD FEDERATIVA{% if 'cat_entidades_federativas' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                    <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="País de ubicación de la Institución educativa.">
                      <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                    </button>
                    {% bootstrap_field domicilio_form.cat_entidades_federativas show_label=False%}
                  </div>
                </div>

                <div class="col-md-12" style="border: solid #d8d3d3 0.5px;padding: 1rem;margin:1rem 0 1rem 0;">
                    {% include 'layout/persona_multiple.html' with form=copropietario_form data=copropietario_bienes_personas title="TERCERO" tipoParticipacion="COPROPIETARIO" bienId=bien_id label="del copropietario" campos_privados=campos_privados obligatorio=False %}
                </div>
                <div class="col-md-12" >
                    <label  class="label-secondary">FORMA DE ADQUISICIÓN{% if 'cat_formas_adquisiciones' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                    <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Seleccionar alguna de las opciones.">
                        <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                    </button>
                    {% include 'layout/radiobuttons.html' with field_select=muebles_no_registrables_form.fields.cat_formas_adquisiciones  field_name=muebles_no_registrables_form.cat_formas_adquisiciones otro_name=muebles_no_registrables_form.otra_forma  col=2 col_o=4 tipo='cat_formas_adquisiciones' campos_privados=campos_privados %}
                </div>
                <div class="col-md-4" >
                    <div class="form-group {% if 'forma_pago' in campos_privados %}form-group-private{% endif %}">
                        <label  class="label-secondary">FORMA DE PAGO{% if 'forma_pago' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Seleccionar la forma en que realizó el pago para adquirir el vehículo en caso de que no haya pagado por el mismo, indicará no aplica">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% bootstrap_field muebles_no_registrables_form.forma_pago  show_label=False%}
                    </div>
                </div>
                <div class="col-md-4" >
                    <div class="form-group {% if 'precio_adquisicion' in campos_privados %}form-group-private{% endif %}">
                        <label  class="label-secondary">VALOR DE ADQUISICIÓN{% if 'precio_adquisicion' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Proporcionar el monto de adquisición conforme al documento con el que se acredita la propiedad.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% bootstrap_field muebles_no_registrables_form.precio_adquisicion  show_label=False%}
                    </div>
                </div>
                <div class="col-md-4" >
                    <div class="form-group {% if 'cat_monedas' in campos_privados %}form-group-private{% endif %}">
                        <label  class="label-secondary">MONEDA{% if 'cat_monedas' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Seleccionar la moneda relativa al valor de adquisición">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% bootstrap_field muebles_no_registrables_form.cat_monedas field_class="moneda" show_label=False%}
                    </div>
                </div>
                <div class="col-md-8" >
                    <div class="form-group {% if 'fecha_adquisicion' in campos_privados %}form-group-private{% endif %}">
                        <label  class="label-secondary">FECHA DE ADQUISICIÓN{% if 'fecha_adquisicion' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Fecha de adquisición del vehiculo.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% bootstrap_field muebles_no_registrables_form.fecha_adquisicion  show_label=False%}
                    </div>
                </div>
                <div class="col-md-12" >
                    <label  class="label-secondary">EN CASO DE BAJA DEL VEHÍCULO INCLUIR MOTIVO {% if 'cat_motivo_baja' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                    <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Elegir razón por la cual se da de baja.">
                        <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                    </button>
                    {% include 'layout/radiobuttons.html' with field_select=muebles_no_registrables_form.fields.cat_motivo_baja  field_name=muebles_no_registrables_form.cat_motivo_baja otro_name=muebles_no_registrables_form.otra_forma  col=2 col_o=4 tipo='cat_motivo_baja' campos_privados=campos_privados %}
                </div>
                
              </div>

                <div id="ms_campos_obligatorios"></div>
                <div class="text-right row-form" style="{% if checked %}display: none;{% endif %}">
                    <button type="submit"  name="accion" id="guardar_otro" value="guardar_otro" class="btn btn-link btn-link-plus text-primary font-weight-semibold text-uppercase" style="background: #cce3e4;margin-bottom: 0.5rem" >
                      <img src="{% static 'src/img/plus.svg'%}" alt="agregar" class="svg">Agregar otro bien mueble no registrable
                    </button>
                </div>

                <div class="row row-form">
                    <div class="col-md-12" >
                        <div class="form-group {% if 'observaciones' in campos_privados %}form-group-private{% endif %}">
                            <label  class="label-secondary" for="textForm">ACLARACIONES/OBSERVACIONES{% if 'cat_motivo_baja' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="En este espacio el declarante podrá realizar las aclaraciones u observaciones que considere pertinentes respecto de algun o algunos de,los incisos de este apartado.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field observaciones_form.observacion placeholder="ACLARACIONES/OBSERVACIONES"    show_label=False%}
                        </div>
                    </div>
                </div>
              
                {% include 'layout/guardar.html' %}
                <div class="row"><div class="col-12"><br/></div></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block body_script %}
<script>
    $(function(){
        $("form input[type=submit]").click(function() {
            $("input[type=submit]", $(this).parents("form")).removeAttr("clicked");
			$("button", $(this).parents("form")).removeAttr("clicked");
            $(this).attr("clicked", "true");
        });
        $("form #guardar_otro:button").click(function() {
            $("input[type=submit]", $(this).parents("form")).removeAttr("clicked");
			$("button", $(this).parents("form")).removeAttr("clicked");
            $(this).attr("clicked", "true");
        });

            $("form #id-guardarysalir:button").click(function() {       
            $("input[type=submit]", $(this).parents("form")).removeAttr("clicked");
            $("button", $(this).parents("form")).removeAttr("clicked");
            $(this).attr("clicked", "true");
        });

        $("form").submit(function(e){
        	if($("#no_aplica").prop("checked") != true){
	            e.preventDefault();
	            e.stopPropagation();
	            if($(this).attr("id") !== "form_registros_previos"){
	              let faltantes = check_camposobligatorios();
	              var submitValue = $("[clicked=true]").val();
	              $(".guardarDeclaracion").prop('disabled', true);
                   f_cargando('ms_campos_obligatorios');

	              if(faltantes > 0 ){
	                  setTimeout(function(){
                        $(".guardarDeclaracion").prop('disabled', false);
                        $('#ms_campos_obligatorios').empty();
                        $('#ms_campos_obligatorios').prepend('<div class="alert alert-danger alert-dismissable alert-link">'+
                            '<button type="button" class="close" data-dismiss="alert">&times;</button>'+
                                '<strong>Favor de llenar todos los campos obligatorios marcados con asterisco * para continuar</strong></div>')
                      }, 500);
	              } else {
	                  var myin = document.createElement ("input");
	                  myin.setAttribute ("name","accion");
	                  myin.setAttribute ("style","display:none;");
	                  myin.setAttribute ("value", submitValue);
	                  this.appendChild(myin);
	                  this.submit();
	              } 
	            }
	            else{
	              $(this).find('button').each(function(e,i){$(this).attr('disabled','disabled');})
	              mostrar_spinner_registros_previos();
	              registros_previos_guardar();
	              this.submit();
	            }
	        }
        });
    });

    function check_camposobligatorios(){
        var camposOb = [
            {% for campo in campos_obligatorios %}
            "{{campo}}"{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];
        console.log("Verificando " + camposOb.length + " campos obligatorios");
        var obligatoriosSinVerificar = "";
        var faltantes = 0;
        for (let index = 0; index < camposOb.length; index++) {
            const element =  camposOb[index];
            var domElements = $("[id*='muebles_no_registrables-"+element+"']");
            for (let i = 0; i < domElements.length; i++) {
                if(domElements[i].value == ""){
                    obligatoriosSinVerificar  += element + ", ";
                    faltantes += 1;
                }
            }
        }
        obligatoriosSinVerificar += + " " + faltantes + " faltan de llenar";
        console.log(obligatoriosSinVerificar);
        return faltantes;
    }
</script>
{% endblock %}