{% extends "layout/base.html" %}
{% load static %}
{% load personalizacion_tags %}
{% block header_title %}Perfil {{ user.first_name|upper}} {{ user.last_name|upper }}{% endblock %}
{% block content %}
<section class="row container-fluid p-0 my-md-5 py-md-5 my-sm-2 py-sm-2 body_content body-content">
    <div class="col-md-4 col-sm-12 text-center">
        {% if user.is_superuser %} 
        <a class="color-neutro" href="/admin/sitio/sitio_personalizacion/1/change/#id_imagen_defaultPerfil" alt="Personalizar" target="_blank">
        <div class="w-100 personalizar_clic">
            <p class="color-alerta icono_personalizar"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg> Personalizar imagen por defecto </p>
        {% endif %}
        <img src="/media/{% personalizacion 'imagen_defaultPerfil' %}" alt="imagen decorativa para perfil" class="float-sm-none float-md-right">
        {% if user.is_superuser %} </div> </a> {% endif %}
    </div>
    <div class="col-md-8 col-sm-12 pt-sm-4 row">
        <div class="col-12">
        <h1 class="text-gray text-xl font-weight-medium text-uppercase line-height-md title-mobile text-mobile border-bottom text-sm-center text-md-left">
            <span class="text-primary-light font-weight-semibold">
                {{ infopersonalfija.nombre_completo|upper|default:"Sin nombrar" }}
            </span>
        </h1>
        </div>
        <div class="pl-3 mb-5 pt-4 col-md-6 col-sm-12">
            <table class="table borderless">
                <thead></thead>
                <tbody>
                    <tr>
                        <td class="text-right pb-1 font-weight-semibold color-secundario">
                            <p class="">Trabajas como</p>
                        </td>
                        <td class="color-primario font-weight-bold pl-4">{{ infopersonalfija.cat_puestos|default:"----" }}</td>
                    </tr>
                    <tr>
                        <td class="text-right pb-1 font-weight-semibold color-secundario">
                            <p class="">En</p>
                        </td>
                        <td class="color-primario font-weight-bold pl-4">{{infopersonalfija.nombre_ente_publico|default:"----"}}</td>
                    </tr>
                    <tr>
                        <td class="text-right pb-1 font-weight-semibold color-secundario">
                            <p class="">Desde</p>
                        </td>
                        <td class="color-primario font-weight-bold pl-4">{{ infopersonalfija.fecha_inicio|default:"----" }}</td>
                    </tr>
                    <tr>
                        <td class="text-right pb-1 font-weight-semibold color-secundario">
                            <p class="">RFC</p>
                        </td>
                        <td class="color-primario font-weight-bold pl-4">{{user.username|upper|default:"----"}}</td>
                    </tr>
                    <tr>
                        <td class="text-right pb-1 font-weight-semibold color-secundario">
                            <p class="">Teléfono</p>
                        </td>
                        <td class="color-primario font-weight-bold pl-4">{{ infopersonalfija.telefono|default:"----" }}</td>
                    </tr>
                    <tr>
                        <td class="text-right pb-1 font-weight-semibold color-secundario">
                            <p class="">Correo electrónico</p>
                        </td>
                        <td class="color-primario font-weight-bold pl-4">{{ user.email|default:"----"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 text-center" style="padding-top: 100px;">
        <img class="pb-3" src="{% static 'src/img/SEAJAL-Declaraciones-Mi_cuenta-Icono_alerta.png' %}" alt="alerta">
        <p>Si requieres cambiar alguno de tus datos <br> por favor ponte en contacto <br> con el enlace de tu ente público</p>
    </div>
</section>
{% endblock %}